<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:\Automatizacija\Wirecard\rest-assured-wirecard\src\test\java\com\beeceptor\tests">
        <classes>
            <class name="com.beeceptor.tests.apiTests.BeeceptorTests">
                <methods>
                    <include name="getActiveCardDetils"/>
                    <include
                            name="getLockedCardDetils"/>
                    <include name="putRegisterUser"/>
                    <include
                            name="putLockCard"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>