<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Automatizacija/Rest-assured/rest-assured-testng-jsonplaceholder/src/test/java/com/jsonplaceholder/tests">
        <classes>
            <class name="com.beeceptor.tests.apiTests.BeeceptorTests">
                <methods>
                    <include name="T1_get_callAll100BlogPosts_all100BlogPostsAreReceivedInResponse"/>
                    <include
                            name="T1_get_callAll10BlogPostsWrittenByUserId5_all10BlogPostsWrittenByUserId5AreReceivedInResponse"/>
                    <include name="T3_put_idInPostsBodyPayloadIsNumberAsStringNotAsInt_blogPostIsSuccessfullyUpdated"/>
                    <include
                            name="T4_get_zeroAsBlogPostIdInResourceUri_statusCodeIs404AndEmptyJsonIsReceivedInResponse"/>
                    <include
                            name="T5_put_updateDataUnderInvalidResourceId_userGetAnErrorMsgThatResourceIsNotFound"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>